#root,
body,
html {
  height: 100%;
  margin: 0;
}

body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/bg.png); */
  background-color: #2500a1;
  background-size: cover;
}
